---
import NavBar from '@components/NavBar.astro';
import { name, data, work, skills } from '@content';
import Jumbotron from '@components/Jumbotron.astro';
import DevSkills from '@components/DevSkills.astro';
import Timeline from '@components/Timeline.astro';
---

<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap" rel="stylesheet" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CV | {name}</title>
	</head>
	<body class="bg-background text-text flex flex-col min-h-screen">
		<NavBar />
		<Jumbotron title={data.tagline} description={data.bio} />
		<DevSkills value={skills} />
		<Timeline value={work} />
	</body>
</html>

<script>
	import 'flowbite';
</script>
