---
import { data, name, skills, socialLinks, work } from '@content';
import Contact from '@components/Contact.astro';
import DevSkills from '@components/DevSkills.astro';
import Footer from '@components/Footer.astro';
import { IconMap } from '@lib/style-helper';
import Jumbotron from '@components/Jumbotron.astro';
import NavBar from '@components/NavBar.astro';
import Timeline from '@components/Timeline.astro';

const social = Object.entries(socialLinks).map(([name, url]) => ({ name, href: url, icon: IconMap[name] }));
---

<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap" rel="stylesheet" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CV | {name}</title>
	</head>
	<body class="bg-background text-text flex flex-col min-h-screen">
		<NavBar />
		<Jumbotron title={data.tagline} description={data.bio} />
		<DevSkills value={skills} />
		<Timeline value={work} />
		<Contact />
		<Footer links={social} />
	</body>
</html>

<script>
	import 'flowbite';
</script>

<style is:global lang="scss">
	nav,
	section,
	footer,
	header {
		> div {
			@apply mx-10 flex px-4 py-8 md:mx-auto md:max-w-screen-xl lg:py-16;
		}
	}

	section,
	footer {
		> div {
			@apply flex-col;
		}
	}
</style>
