---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { Icon } from 'astro-icon';
import Tag from './Tag.astro';
const { start, end, title, description, url, tags = [], url_name } = Astro.props;
// Maybe add an option to not put start & end but just start?
---

<div
	class="grid grid-cols-3 grid-rows-1 w-full p-2 place-items-center border-b-[1px] border-dashed py-8 border-text/25"
>
	<div class="self-start justify-self-start">
		<p class="text-text/50 text-base">
			{start}
			{end && `- ${end}`}
		</p>
	</div>

	<div class="self-start justify-self-start text-left">
		<p class="text-lg text-text/80">{title}</p>
		<p class="text-sm text-text/70">
			<Fragment set:html={documentToHtmlString(description)} />
		</p>
		<sub class="text-xs text-text/60">
			{
				tags.map((item) => {
					return <Tag value={item} />;
				})
			}
		</sub>
	</div>

	<div class="self-start justify-self-end">
		<a
			href={url}
			target="_blank"
			class="text-base text-right text-text/60 hover:text-text/80 flex justify-center items-center"
		>
			{url_name}
			{url !== '#' && <Icon name="icon-park-outline:unlink" class="w-4 h-4 ml-2" />}
		</a>
	</div>
</div>
