---
import { JobExperience } from '@/model';
import TimelineItem from 'src/components/TimelineItem.astro';
const { value } = Astro.props;
const currentYear = new Date().getFullYear();
---

<section id="experience">
	<div class="flex-col gap-x-4 gap-y-8 text-center lg:gap-y-16">
		<h1 class="text-justify text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl">
			Work Experience
		</h1>
		<div class="flex flex-col justify-between gap-8 md:flex-row">
			<ol class="flex w-full flex-col md:w-2/3">
				<li class="w-fit self-center rounded-md bg-tertiary px-2 py-1 text-white">
					{currentYear}
				</li>
				{
					value.map((item: JobExperience) => (
						<TimelineItem
							title={item.position}
							subtitle={item.company}
							time={item.start}
							description={item.description}
							labels={item.tags}
						/>
					))
				}
			</ol>
			<div class="w-48 self-center border-primary md:w-96">
				<img src="world-view.svg" alt="Person over the world" class="h-full w-full object-cover" />
			</div>
		</div>
	</div>
</section>
